root = true

[*]
end_of_line = crlf
insert_final_newline = true

[*.{md,yml}]
end_of_line = lf

[*.{md,yml}]
indent_style = space

[*.{md,yml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
