# Visual Studio cache/options directory
.vs/

# Build results
[Oo]bj
[Oo]bj/*
[Bb]in
[Bb]in/*
[Dd]ebug
[Rr]elease

# Compiled source
*.exe
*.dll

# Compiled localization files
**/*.resources

# User-specific files
*.user

# NuGet Packages
# //docs.microsoft.com/en-us/nuget/consume-packages/packages-and-source-control
[Pp]ackages
[Pp]ackages/*
![Pp]ackages/build/

# Junk Files
[Tt]humbs.db

# Custom application assets/resources
!**/[Rr]es
**/[Rr]es/GRW/
**/[Rr]es/bg.*
**/[Rr]es/logo_*
!**/[Rr]esources
**/[Rr]esources/GRW/
**/[Rr]esources/bg.*
**/[Rr]esources/logo_*
**/*.ico
**/!Icon_256.ico

.release
TODO.txt

# Jekyll
**/_site