# Visual Studio cache/options directory
**/.vs/
**/_ReSharper.Caches/

# Build results
**/[Oo]bj
**/[Oo]bj/*
**/[Bb]in
**/[Bb]in/*
**/[Dd]ebug
**/[Rr]elease

# Compiled source
**/*.exe
**/*.dll

# Compiled localization files
**/*.resources

# User-specific files
**/*.user

# NuGet Packages
# //docs.microsoft.com/en-us/nuget/consume-packages/packages-and-source-control
**/[Pp]ackages
**/[Pp]ackages/*
!**/[Pp]ackages/build/
**/MigrationBackup/

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# Custom application assets/resources
!**/[Rr]es
**/[Rr]es/GRW/
!**/[Rr]esources
**/[Rr]esources/GRW/
**/*.ico
**/!Icon_256.ico

# Junk Files
**/[Tt]humbs.db

# Jekyll
**/_site

/.release
**/TODO.txt
