* text=auto eol=crlf

*.md  text eol=lf
*.yml text eol=lf

*.ico binary
*.jpg binary
*.png binary

# GitHub language statistics
# See: https://github.com/github/linguist/blob/master/docs/overrides.md
**/script/** linguist-detectable=false
