/// ANIMATIONS

@keyframes anim-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim-reveal-1 {
  0% {
    opacity: 0;
    margin-right: -75px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes anim-reveal-2 {
  0% {
    opacity: 0;
    margin-left: -75px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

/// COMMON

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Montserrat';
  background-color: #000000;
}

@media (max-width: 350px) {
  body { padding: 1rem; }
}

/// ERROR MESSAGE

a {
  color: #b93f1b;
  text-decoration: none;
  font-weight: 700;
  font-size: 4rem;
  animation: anim-fade 2s;
  &::before {
    content: attr(data-text-left) ' ';
    animation: anim-reveal-1 1250ms;
  }
  &::after {
    content: ' ' attr(data-text-right);
    animation: anim-reveal-2 1250ms;
  }
}

@media (max-width: 768px) {
  a { font-size: 3.5rem; }
}

@media (max-width: 576px) {
  a { font-size: 2.5rem; }
}

@media (max-width: 400px) {
  a { font-size: 2rem; }
}

@media (max-width: 350px) {
  a { font-size: 1rem; }
}
