<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GHOSTbackup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GHOSTbackup.My.MySettings>
            <setting name="GameSavesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmBackupInterruption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WriteLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberFormPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MustUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableCloudSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhichBackup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoUplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomExeLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="LatestBackupTimestamp" serializeAs="String">
                <value />
            </setting>
            <setting name="LatestBackupDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SecToLastBackupDir" serializeAs="String">
                <value />
            </setting>
        </GHOSTbackup.My.MySettings>
    </userSettings>
</configuration>