<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GHOSTbackup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GHOSTbackup.My.MySettings>
            <setting name="GameSavesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmBackupInterruption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="writeLogFile" serializeAs="String">
                <value>False</value>
            </setting>
        </GHOSTbackup.My.MySettings>
    </userSettings>
</configuration>