/* Regular */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(assets/webfonts/Montserrat-Regular.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Bold */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Montserrat Bold'), local('Montserrat-Bold'), url(assets/webfonts/Montserrat-Bold.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Italic */
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local('Montserrat Italic'), local('Montserrat-Italic'), url(assets/webfonts/Montserrat-Italic.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Bold Italic */
@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'), url(assets/webfonts/Montserrat-BoldItalic.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background-color: #2d2f32; }
::-webkit-scrollbar-track:active { background-color: #2d2f32; }
::-webkit-scrollbar-thumb { background-color: #8c8d8f; }
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
	background-color: #d3d3d3;
}
::-webkit-scrollbar-corner { background-color: #2d2f32; }

*, *::before, *::after { box-sizing: border-box; }

html {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	scrollbar-width: thin;
	scrollbar-color: #8c8d8f #2d2f32;
	background-color: #1c2127;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-rendering: optimizeLegibility;
}

body { margin: 25px 0 25px 0; text-align: left; }

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) { .container { max-width: 540px; } }
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 992px) { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1140px; } }
@media (min-width: 1600px) { .container { max-width: 1350px; } }

a:link, a:visited { color: #54cdff; text-decoration: none; outline: none; }

a:hover { text-decoration: underline; }

a:active { color: #0077ee; text-decoration: none; }

ul { line-height: 22px; }

img { vertical-align: middle; border-style: none; }

img:hover { box-shadow: 3px 3px 5px rgba(18, 21, 25, 0.7); }

.img-responsive { max-width: 100%; height: auto; }

kbd {
	display: inline-block;
	font-family: "Lucida Console", monospace;
	font-size: 12px;
	cursor: pointer;
	padding: 0px 5px 0px 5px;
	margin: 0px 2px;
	color: #000;
	background-color: #fcfcfc;
	vertical-align: middle;
	border: solid 1px #ccc;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}

code {
	color: rgba(255, 200, 61, 0.7);
	background-color: rgba(35, 35, 35, 0.5);
	border: 1px solid #000;
	margin: 0px;
	padding: 3px 5px;
	border-radius: 3px;
	word-break: break-all;
}

blockquote {
	color: #eee;
	background-color: rgba(35, 35, 35, 0.7);
	border: 1px solid #000;
}

.quote-title {
	margin: 0px;
	padding-left: 5px;
	color: #000;
	background-color: rgba(255, 200, 61, 0.7);
	font-weight: bold;
}

.quote-text { margin: 0px; padding: 10px; }

.quote-text strong { border-bottom: 1px solid rgba(255, 200, 61, 0.7); }

.codeblock {
	font-family: 'Lucida Console', monospace;
	color: #eee;
	background-color: rgba(35, 35, 35, 0.7);
	border: 1px solid #000;
}

.codeblock p { margin: 0; padding: 10px; }
